.wrapper {
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 200px;
}

.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: 16px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 1px 2px #000;
  padding: 20px;
  border-radius: 15px;
  background-size: 220%;
  box-shadow: 0 5px 5px -5px #010101;
  transition: 0.5s ease;

  &1 {
    background-image: linear-gradient(45deg, #ed1e79, #662d8c, #ed1e79);
  }

  &2 {
    background-image: linear-gradient(45deg, #63e2ff, #d585ff, #63e2ff);
  }

  &3 {
    background-image: linear-gradient(45deg, #fcee21, #009e00, #fcee21);
  }

  &4 {
    background-image: linear-gradient(45deg, #fbb03b, #d4145a, #fbb03b);
  }

  &:hover {
    background-position: right;
  }
}